<div class="container mx-auto">
  <div class="flex justify-center mb-10">
    <app-search-term [term]="term"></app-search-term>
  </div>

  <ng-template #loading>
    <div class="text-center w-full my-10">
      <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>
  </ng-template>
  <ng-container *ngIf="result$|async as results; else loading">
    <ng-template #noData>
      <div class="flex justify-center items-center
        w-full h-64 mt-10 bg-stone-50
        border border-stone-400 rounded">
        沒有資料
      </div>
    </ng-template>
    <ng-container *ngIf="results.length>0; else noData">
      <ng-container *ngFor="let r of results">
        <div class="space-y-1 border-b border-dashed border-b-slate-300 p-1">
          <h2 class="text-2xl font-bold link link-primary">
            <a routerLink="/{{r.type === 'ScenicSpot' ? 'spot' : r.type.toLowerCase()}}/{{ r.id}}">
              {{ r.name }}
            </a>
          </h2>
          <p>{{ r.description }}</p>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>


</div>
<!-- {{ result$|async|json}} -->
