<div class="sticky top-0 z-10 bg-white drop-shadow">
  <div class="space-y-1 p-1 sm:flex sm:space-y-0 ">
    <div class="flex items-center space-x-2 justify-evenly p-2">
      <span class="material-symbols-outlined text-2xl text-secondary">
        tour
      </span>
      <form [formGroup]="form" class="space-x-1">
        <select id="type" name="type" title="type"
          formControlName="type"
          (change)="onTypeChange($event)"
          class="select select-sm select-bordered leading-3 min-w-min max-w-xs">
          <option value="" disabled>- 類型 -</option>
          <option *ngFor="let t of typesTW"
            value="{{t[0]}}" >
            {{ t[1] }}
          </option>
        </select>
        <select id="city" name="city" title="city"
          formControlName="city"
          (change)="onCityChange($event)"
          class="select select-sm select-bordered leading-3 min-w-min max-w-xs">
          <option value="" selected disabled>- 城市 -</option>
          <option *ngFor="let c of citiesTW"
            [value]="c[0]"
          >{{ c[1] }}</option>
        </select>
        <!-- <app-type-selector
          (typeChange)="onTypeChange($event)">
        </app-type-selector> -->
        <!-- <app-city-selector formControlName="city"
          (cityChange)="onCityChange($event)">
        </app-city-selector> -->
      </form>
    </div>
    <div class="text-center sm:text-right sm:flex-1">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>

<section class="container mx-auto my-4">
  <ng-template #loading>
    <span class="loading loading-spinner"></span>
  </ng-template>
  <ng-container *ngIf="randomSpots$|async as spots;">
    <ng-template #noData></ng-template>
    <ng-container *ngIf="spots.length > 0; else noData">
      <div class="m-4 grid grid-cols-4 gap-4">
        <ng-container *ngFor="let spot of spots">
          <!-- {{ spot|json}} -->
          <app-card-spot [type]="type" [spot]="spot"
            class="transition ease-in-out duration-100
            drop-shadow-xl hover:-translate-x-1 hover:-translate-y-1"></app-card-spot>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="spots$|async as spots; else loading">
    <ng-container *ngIf="spots.length > 0">
      <div class="m-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <ng-container *ngFor="let spot of spots">
          <app-card-spot [type]="type" [spot]="spot"
            class="transition ease-in-out duration-100
            drop-shadow-xl hover:-translate-x-1 hover:-translate-y-1"></app-card-spot>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</section>
