<div class="sticky top-0 bg-white drop-shadow">
  <div class="space-y-1 p-1 sm:flex sm:space-y-0 ">
    <div class="flex items-center space-x-2 justify-evenly p-2">
      <span class="material-symbols-outlined text-2xl text-secondary">
        tour
      </span>
      <app-type-selector
        (typeChange)="onTypeChange($event)">
      </app-type-selector>
      <app-city-selector
        (cityChange)="onCityChange($event)">
      </app-city-selector>
    </div>
    <div class="text-center sm:text-right sm:flex-1">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>

<section class="container mx-auto my-4">

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto rem id dolorum ab doloribus, repudiandae nisi, incidunt ipsum voluptatum inventore dignissimos hic provident! Quidem illo vero repellendus molestias! Enim.</div>
</section>
