<div class="block rounded-lg bg-white shadow-md">
  <a href="#!">
    <ng-template #def>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg"
        alt="Ranjithsiji, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons"
        class="object-contain h-52 w-full rounded-t-lg bg-stone-200/70">
    </ng-template>
    <ng-container *ngIf="item.Picture.PictureUrl1 else def">
      <img title="{{ item.Picture.PictureDescription }}"
        [src]="item.Picture.PictureUrl1"
        [alt]="item.Picture.PictureDescription1"
        class="rounded-t-lg">
    </ng-container>
  </a>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800">
      {{ item.ScenicSpotName }}
    </h5>
    <p class="line-clamp-3 mb-4 text-base text-neutral-600 ">
      {{ item.DescriptionDetail }}
    </p>
    <button
      type="button"
      class="inline-block rounded bg-cyan-500 px-6 pb-2
      pt-2.5 text-xs font-medium uppercase leading-normal
      text-white shadow transition duration-150 ease-in-out
      hover:bg-cyan-600 hover:shadow-gray-800
      focus:bg-cyan-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
      focus:outline-none focus:ring-0 active:bg-cyan-700
      active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
      "
      data-te-ripple-init
      data-te-ripple-color="light">
      Read
    </button>
  </div>
</div>
