<ng-template #loading>
  <div class="flex justify-center">
    <div class="text-lime-400 inline-block h-8 w-8 animate-spin rounded-full
    border-4 border-solid border-current border-r-transparent
    align-[-0.125em]
    motion-reduce:animate-[spin_1.5s_linear_infinite]"
  role="status">
  </div>
  </div>
</ng-template>
<ng-container *ngIf="restaurants$|async as restaurants; else loading">
  <ng-container *ngFor="let restaurant of restaurants">
    <article>
      <div>
        <a (click)="goBack()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
          </svg>
        </a>
      </div>

      <div class="mb-2 text-center">
        <span class="px-2 bg-rose-50 border border-rose-500
        rounded-full text-rose-500">
          {{ restaurant.City }}
        </span>
      </div>

      <h1 class="text-3xl lg:text-5xl font-bold text-center
        m-4 mb-6">
        {{ restaurant.RestaurantName }}
      </h1>

      <div class="my-2 text-center">
        <span class="px-2 rounded text-gray-800 border border-gray-500
        bg-gray-100">{{ restaurant.Class }}</span>
      </div>

      <div class="md:flex md:space-x-2 space-y-2">
        <p class="flex-1">{{ restaurant.Description }}</p>
        <div class="flex-1">
          <app-map
            [name]="restaurant.RestaurantName"
            [lat]="restaurant.Position.PositionLat"
            [lon]="restaurant.Position.PositionLon"
          ></app-map>
        </div>
      </div>

      <div class="mt-2 md:flex md:space-x-2 space-y-2">
        <div class="grow space-y-2">
          <div class="bg-rose-50 border border-rose-500
          rounded shadow-md">
            <div class="text-rose-900 bg-rose-200
            p-1 rounded-t">店家地址</div>
            <div class="p-1 rounded-b">
              <span>{{ restaurant.ZipCode }}</span>
              {{ restaurant.Address }}
            </div>
          </div>
          <div class="bg-rose-50 border border-rose-500
          rounded shadow-md">
            <div class="text-rose-900 bg-rose-200
            p-1 rounded-t">預約電話</div>
            <div class="p-1 rounded-b">{{ restaurant.Phone }}</div>
          </div>
          <div class="bg-rose-50 border border-rose-500
          rounded shadow-md">
            <div class="text-rose-900 bg-rose-200
            p-1 rounded-t">營業時間</div>
            <div class="p-1 rounded-b">{{ restaurant.OpenTime }}</div>
          </div>
          <div class="bg-rose-50 border border-rose-500
          rounded shadow-md">
            <div class="text-rose-900 bg-rose-200
            p-1 rounded-t">店家網站網址</div>
            <div class="p-1 rounded-b">{{ restaurant.WebsiteUrl }}</div>
          </div>
          <div class="bg-rose-50 border border-rose-500
          rounded shadow-md">
            <div class="text-rose-900 bg-rose-200
            p-1 rounded-t">店家地圖/簡圖介紹網址</div>
            <div class="p-1 rounded-b">{{ restaurant.MapUrl }}</div>
          </div>
          <div class="bg-rose-50 border border-rose-500
          rounded shadow-md">
            <div class="text-rose-900 bg-rose-200
            p-1 rounded-t">停車資訊</div>
            <div class="p-1 rounded-b">{{ restaurant.ParkingInfo }}</div>
          </div>
        </div>
        <div class="grow">
          <ng-container *ngIf="restaurant.Picture.PictureUrl1">
            <img title="{{ restaurant.Picture.PictureDescription1 }}"
            [src]="restaurant.Picture.PictureUrl1"
            [alt]="restaurant.Picture.PictureDescription1">
          </ng-container>
          <ng-container *ngIf="restaurant.Picture.PictureUrl2">
            <img title="{{ restaurant.Picture.PictureDescription2 }}"
            [src]="restaurant.Picture.PictureUrl2"
            [alt]="restaurant.Picture.PictureDescription2">
          </ng-container>
          <ng-container *ngIf="restaurant.Picture.PictureUrl3">
            <img title="{{ restaurant.Picture.PictureDescription3 }}"
            [src]="restaurant.Picture.PictureUrl3"
            [alt]="restaurant.Picture.PictureDescription3">
          </ng-container>
        </div>
      </div>

    </article>
  </ng-container>
</ng-container>
