<section class="">
  <ng-template #loading>
    <div class="text-center w-full">
      <span class="loading loading-spinner"></span>
    </div>
  </ng-template>
  <ng-container *ngIf="restaurant else loading">
    <div class="sticky top-0 backdrop-blur-md bg-white
    z-10 flex items-center justify-between ">
      <a (click)="goBack()"
        class="btn btn-ghost ">
        <span class="material-symbols-rounded">
          arrow_back
        </span>

        <div class="">
          返回
        </div>
      </a>
      <ng-container *ngIf="restaurant.phone">
        <div class="mr-2">
          <button class="btn btn-warning btn-sm">
            <span class="material-symbols-outlined text-sm">
              call
              </span>
            預約電話
          </button>
        </div>
      </ng-container>
    </div>
    <div class="space-y-2 container mx-auto my-4">
      <div class="flex items-center justify-between my-6">
        <h1 class="text-2xl lg:text-4xl font-bold ">
          {{ restaurant.name }}
        </h1>
        <button class="btn btn-circle btn-ghost">
          <span class="material-symbols-outlined text-2xl">
            favorite
          </span>
        </button>
      </div>
      <div>
        <img *ngIf="restaurant.pictures.length > 0; else noImage"
          src="{{ restaurant.pictures[0].url }}"
          alt="{{ restaurant.pictures[0].alt }}"
          class="w-full rounded">
        <ng-template #noImage>
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg"
            alt="Ranjithsiji, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons"
            class="object-cover h-56 w-full bg-stone-200/40">
        </ng-template>
      </div>

      <div class="space-y-2 md:flex md:space-x-2 md:space-y-0">
        <div class="basis-1/2 space-y-2">
          <div class="bg-white p-6 rounded">
            <div class="space-x-1 my-2">
              <span class="badge badge-outline badge-primary">
                {{ restaurant.city }}
              </span>
              <ng-container *ngIf="restaurant.classes.length > 0">
                <span *ngFor="let c of restaurant.classes"
                  class="badge badge-accent">
                  {{ c }}
                </span>
              </ng-container>
            </div>

            <div>{{ restaurant.description }}</div>
          </div>
          <div class="bg-white p-4 rounded md:hidden">
            <span class="text-xs font-bold">地址: </span>
            <span class="border border-stone-400 font-mono px-1">{{ restaurant.zipCode }}</span>
              {{ restaurant.address }}
          </div>
          <div class="bg-white p-4 rounded md:hidden" id="phone">
            <span class="text-xs font-bold">預約電話</span>
            {{ restaurant.phone }}
          </div>
          <div class="bg-white p-4 rounded md:hidden">
            <span class=" text-xs font-bold">營業時間</span>
            {{ restaurant.openTime }}
          </div>
        </div>
        <div class="basis-1/2 space-y-2">
          <app-map class="rounded"
            [name]="restaurant.name"
            [lat]="restaurant.position.lat"
            [lon]="restaurant.position.lng"
          ></app-map>
          <div class="bg-secondary/10 p-6 rounded hidden md:block">
            <span class="text-xs font-bold">地址: </span>
            <span class="border border-stone-400 font-mono px-1">{{ restaurant.zipCode }}</span>
              {{ restaurant.address }}
          </div>
          <div class="bg-secondary/10 p-4 rounded hidden md:block">
            <span class="text-xs font-bold">預約電話</span>
            {{ restaurant.phone }}
          </div>
          <div class="bg-secondary/10 p-4 rounded hidden md:block">
            <span class=" text-xs font-bold">營業時間</span>
            {{ restaurant.openTime }}
          </div>
          <ng-container *ngIf="restaurant.websiteURL">
            <div class="bg-secondary/10 p-4 rounded ">
              <span class="text-xs font-bold">網址</span>
              <a href="{{ restaurant.websiteURL }}" target="_blank">
                連結
                <span class="material-symbols-outlined">
                  captive_portal
                </span>
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="restaurant.mapURL">
            <div class="bg-secondary/10 p-4 rounded">
              <span class="text-xs font-bold">店家地圖/簡圖介紹網址</span>
              <a href="{{ restaurant.mapURL }}" target="_blank">
                連結
                <span class="material-symbols-outlined">
                  captive_portal
                </span>
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="restaurant.parkingInfo">
            <div class="bg-secondary/10 p-4 rounded">
              <span class="text-xs font-bold">停車資訊</span>
              {{ restaurant.parkingInfo }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</section>
