<div class="navbar bg-cyan-400">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost md:hidden">
        <span class="material-symbols-outlined">
          menu
          </span>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content
        mt-3 z-50 p-2 shadow bg-base-100 rounde w-52">
        <li><a routerLink="activities"
          routerLinkActive="btn-active"
        >活動項目</a></li>
        <li><a routerLink="scenes"
          routerLinkActive="btn-active"
        >景點餐宿</a></li>
      </ul>
    </div>
    <a routerLink="/"
      class="font-bold text-sm text-neutral-50 uppercase btn btn-ghost">
      <span><span class="text-orange-200">T</span>ourism</span>
    </a>
  </div>
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a routerLink="activities"
        routerLinkActive="btn-secondary"
        >活動項目</a>
      </li>
      <li><a routerLink="scenes"
        routerLinkActive="btn-secondary"
      >景點餐宿</a></li>
    </ul>
  </div>
  <div class="navbar-end space-x-1">
    <button type="button" routerLink="search"
      class="btn btn-circle btn-ghost">
      <span class="material-symbols-outlined">
        search
      </span>
    </button>
    <a *ngIf="!user.email"
      routerLink="login"
      class="btn btn-secondary">
        登入
    </a>
    <div *ngIf="user.email" class="dropdown dropdown-end">
      <div tabindex="0" class="btn btn-ghost">
        <div class="avatar placeholder">
          <div class="bg-neutral-focus text-neutral-content rounded-full w-10">
            <ng-container *ngIf="user.photoUrl; else other">
              <img title="avatar" [src]="user.photoUrl"
                [alt]="user.name">
            </ng-container>
            <ng-template #other>
              <span>{{ user.name.substr(0,1) }}</span>
            </ng-template>
          </div>
        </div>
      </div>
      <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
        <li>
          <button type="button" routerLink="/user/{{ user.name }}">
            帳號
          </button>
        </li>
        <li>
          <button type="button"
            (click)="logout()">
            登出
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
