<nav class="navbar">
  <div class="flex w-full flex-wrap items-center
    justify-between ">
    <!-- Hamburger button for mobile view -->
    <button
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="hamburger-btn">
      <!-- Hamburger icon -->
      <!-- <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span> -->
      <span class="material-symbols-outlined">
        menu
        </span>
    </button>

    <a routerLink="/"
      class="font-bold text-sm text-neutral-50 uppercase
      tracking-widest">
      <span><span class="text-orange-200">T</span>ourism</span>
    </a>

    <!-- Collapsible navigation container -->
    <div id="navbarSupportedContent1" data-te-collapse-item
      class="!visible hidden flex-grow basis-[100%] ml-4 mt-4
        items-center  lg:!flex lg:basis-auto lg:mt-0">
      <!-- Left navigation links -->
      <ul data-te-navbar-nav-ref
        class="list-style-none  flex justify-items-center flex-col pl-0
          lg:flex-row">
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
          <!-- spot link -->
          <a data-te-nav-link-ref
            routerLink="spots"
            class="navbar-menu-item"
          >觀光景點</a>
        </li>
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
          <!-- activites link -->
          <a data-te-nav-link-ref
            routerLink="activities"
            class="navbar-menu-item"
          >活動項目</a>
        </li>
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
          <!-- Hotels link -->
          <a data-te-nav-link-ref
            routerLink="hotels"
            class="navbar-menu-item"
          >觀光旅宿</a>
        </li>
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
          <!-- restaurants link -->
          <a data-te-nav-link-ref
            routerLink="restaurants"
            class="navbar-menu-item"
          >觀光餐飲</a>
        </li>
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
          <!-- restaurants link -->
          <a data-te-nav-link-ref
            routerLink="bike"
            class="navbar-menu-item"
          >自行車道</a>
        </li>
      </ul>
    </div>

    <div class="flex items-center space-x-1">
      <a type="button" routerLink="/search"
        class="btn btn-ghost btn-circle text-black/50 hover:btn-primary">
        <span class="material-symbols-rounded font-bold text-2xl">
          search
        </span>
      </a>

      <a *ngIf="!user.email"
        routerLink="/login"
        class="btn btn-primary">
          登入
      </a>
      <!-- Right elements -->
      <ng-container *ngIf="user && user.email" >
        <div class="dropdown dropdown-end">
          <div tabindex="0" class="btn btn-ghost">
            <div class="avatar placeholder">
              <div class="bg-neutral-focus text-neutral-content rounded-full w-10">
                <ng-container *ngIf="user!.photoUrl; else other">
                  <img title="avatar" [src]="user!.photoUrl"
                    [alt]="user!.name">
                </ng-container>
                <ng-template #other>
                  <span>X</span>
                </ng-template>
              </div>
            </div>
          </div>
          <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
            <li><a>Item 1</a></li>
            <li>
              <button type="button"
                (click)="logout()">
                登出
              </button>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
