<div *ngIf="end" class="mb-2">
  <a routerLink="/Activity/{{ activity.id }}"
  class="link link-neutral">
    {{ activity.name }}
  </a>
</div>

<div *ngIf="!end" class="block rounded-lg bg-white shadow-md">
  <div class="p-2 flex items-center justify-between
    rounded-t-lg bg-primary">
    <div class="text-lg font-bold">{{ activity.period.start |date:'MM/dd'}}</div>
    <div class="text-sm text-black/40">{{ activity.period.start |date:'YYYY'}}</div>
  </div>
  <a routerLink="/Activity/{{ activity.id }}">
    <ng-template #def>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg"
        alt="Ranjithsiji, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons"
        class="object-contain h-52 w-full bg-stone-200/70">
    </ng-template>
    <ng-container *ngIf="activity.pictures.length > 0 else def">
      <img src="{{ activity.pictures[0].url}}"
        alt="{{ activity.pictures[0].alt}}"
        class="object-cover h-52 w-full">
    </ng-container>
  </a>
  <div class="p-4">
    <h5
      class="mb-2 text-xl font-medium leading-tight
      text-neutral-800 dark:text-neutral-50">
      {{ activity.name }}
    </h5>
    <a routerLink="/Activity/{{ activity.id }}"
      class="btn btn-sm btn-secondary">
      詳細資訊
    </a>
  </div>
</div>
