<ng-template #loading>
  <div class="text-center w-full my-10">
    <span class="loading loading-spinner loading-lg text-primary"></span>
  </div>
</ng-template>

<ng-container *ngIf="activity else loading">
  <div class="sticky top-0 backdrop-blur-md shadow bg-white
    z-10 flex items-center justify-between">
    <a (click)="goBack()"
      class="btn btn-ghost ">
      <span class="material-symbols-rounded">
        arrow_back
      </span>
      <div class="">
        返回
      </div>
    </a>
    <div class="mr-4">
      <span>
        <span class="text-xs px-2">開始</span>
        <span class="px-1 rounded border border-stone-300
          font-bold font-mono ">
          {{ activity.period.start |date:'YYYY-MM-dd'}}
        </span>
      </span>
      <span> ~ </span>
      <span>
        <span class="text-xs px-2">結束</span>
        <span class=" p-2 rounded
          font-bold font-mono bg-warning text-white">
          {{ activity.period.end |date:'YYYY-MM-dd'}}
        </span>
      </span>
    </div>
  </div>
  <article class="container mx-auto my-4 p-4">
    <ng-container *ngIf="activity.pictures.length > 0; else elseTemplate">
      <img src="{{ activity.pictures[0].url}}"
        alt="{{ activity.pictures[0].alt}}"
        class="w-full">
    </ng-container>
    <ng-template #elseTemplate>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg"
      alt="Ranjithsiji, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons"
      class="object-contain h-56 w-full bg-stone-200/40">
    </ng-template>

    <div class="badge badge-outline badge-info mt-6">{{activity.organizer}}</div>

    <h1 class="text-2xl lg:text-4xl font-bold mb-4">
      {{ activity.name }}
    </h1>

    <div class="space-x-0 space-y-2 md:flex md:space-x-2 md:space-y-0">
      <div class="basis-2/3 bg-white rounded p-6">
        <div *ngFor="let c of activity.classes"
          class="badge badge-warning my-2 mx-1">
          {{ c }}
        </div>
        <div class="space-y-2">
          <div class="my-4">{{ activity.description }}</div>
          <ng-container *ngIf="activity.pictures.length > 0;">
            <img *ngFor="let p of activity.pictures"
              src="{{ p.url}}"
              alt="{{ p.alt}}">
          </ng-container>
        </div>
      </div>
      <div class="basis-1/3 space-y-4">
        <div class="bg-info text-white px-6 rounded-b -mt-3
          md:mt-0 md:px-2 md:py-2 md:-ml-20 md:rounded-b-none md:rounded-bl">
          {{activity.city}}
        </div>
        <div class="bg-indigo-200 p-2 rounded">
          <div class="text-black/50">地點</div>
          <div>{{ activity.location }}</div>
        </div>
        <div class="bg-indigo-200 p-2 rounded">
          <div class="text-black/50">收費</div>
          <div>{{ activity.charge }}</div>
        </div>
        <div  class="bg-indigo-200 p-2 rounded">
          <div class="text-black/50">電話</div>
          <div>{{ activity.phone }}</div>
        </div>
        <div  class="bg-indigo-200 p-2 rounded">
          <div class="text-black/50">地址</div>
          <div>{{ activity.address }}</div>
        </div>
      </div>
    </div>
  </article>
</ng-container>
